*{
    margin: 0;
    padding: 0;
}

.head-title{
    font-family: 'Anton', sans-serif;
    color:#200772;
}
.heading{
    padding-bottom: 3%;
}
body{

    font-family: 'Anton', sans-serif;
font-family: 'DM Sans', sans-serif;
}

